﻿body {
    background-color: #E3A3A3;
    font-family: Arial;
    color: #393939;
    padding:5px;
}
.LinhaDivisoria{

    margin:auto;
    width:90%;
    height:1px;
    background-color:#6d6c6c;
}

#container-aplication {
    width: 100%;
    min-height: 100vh;
    background-color: #ffffff;
    border-radius: 12px;
    text-align:center;
}

#container-rodape {
    width:90%;
    margin:auto;
    margin-left:0px;
    padding-left: 5px;
    padding-right: 15px;
    font-size: 9pt;
    position: absolute;
    bottom: 0;
}


.rotulo {
    
    font-size: 10pt;
}

input {
    padding-left:2px;
    padding-right:2px;
    height: 26px;
    border: 1px solid #6d6c6c;
}
input:focus {
    border: 1px solid #2f578d;
}

.Button {
    cursor:pointer;
    padding-left: 20px;
    padding-right: 20px;
    height: 36px;
    background-color: #2f578d;
    color: #ffffff;
    border: 1px solid #2f578d;
    border-radius: 100px;
}

.ButtonMenuRelatorio {
    cursor: pointer;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    height: 46px;
    border: 1px solid #6d6c6c;
    background-color: aliceblue;
    margin-bottom: 10px;
    white-space:pre-line;
    font-size:10pt;
}

.DropDown{

    height:40px;
    min-width:240px;

}

.pnlMenuRelatorio {
    margin: auto;
    width: 90%;
    min-height: 100px;
    background-color: #ffffff;
}
